#header-nav {
    background-color: rgba(4, 60, 163, 0.384);
    border-radius:0;
    border:0;

}
.navbar-brand h1 {
font-family: 'Lora',serif;
color:black;
font-size: 1.5em;
text-transform: uppercase;
font-weight:bold;
text-shadow: 1px 1px 1px #222;
margin-top:8px;
margin-bottom:0;
line-height:.75;

}
.row h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top:0px;
    margin-bottom:20px;
    
}

.col-lg-12 {
    background-color: rgb(164, 233, 198);
    margin-bottom:40px;
}


span{
    color:black;
    font-size:1.6em;
}




#nav-list{
    margin-top:10px;
}
#nav-list a{
    
    text-align:center;
}

#nav-list a:hover{
    background: #E7E7E7;
}

.col-lg-12{
    border:3px solid black;
}
